# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


trigger:
  branches:
    include:
      - '*'
  tags:
    include:
      - '*'

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: |
    pip install ansible
    ansible --version
  displayName: 'Prepare'

- script: |
    cp tests/test.yml .
    ln -s "$(pwd)" ../pihole-dns-ansible
    echo -e '[defaults]\nroles_path="../"' > ansible.cfg
    cat ansible.cfg
    ls -lrtah 
    ls -lrtah ..
    ansible-playbook test.yml --syntax-check
  displayName: 'Run test pipeline'
